@import variables

// Containers
#articles-div
  margin: auto
  width: 100%

#articles-title-div
  text-align: center

#artricles-article-list-div
  width: 33%
  margin: 0 auto

#articles-generate-wc-button-div
  margin: 0 auto
  width: 33%
  padding-top: 2%

#articles-dl-button-div
  margin: 0 auto
  width: 33%

// Elements
#articles-list-element
  list-style: none
  padding: 0
  margin: 0

#articles-title
  font-size: 3em
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 3px
  color: $article-list-word
  margin-top: 1%

#articles-generate-button
  width: 100%
  background-color: $article-list-background
  color: $article-button-text
  border: 0
  margin-bottom: 2%

#articles-dl-pdf-button
  width: 49%
  background-color: $article-list-background
  color: $article-button-text
  border: 0
  margin-right: 2%

#articles-dl-txt-button
  background-color: $article-list-background
  color: $article-button-text
  border: 0
  width: 49%