@import variables

.bibtex-header
	background-color: $coup-gray
	color: $author-color
.bibtex-body
	background-color: $coup-gray
.bibtex-pre
	background-color: #333333
	color: white

body
	background-color: $coup-gray

.whole-container
	width: 700px
	margin: auto

#checkbox-div
	margin-left: 45px

#checkbox-item
	float: left
	width: 20px
	height: 20px
	clear: left
	vertical-align: bottom
	position: relative
	top: 10px
	*overflow: hidden

#button-container
	margin-left: 45px

.author-container
	margin: 0px
	padding-top: 0px
	padding-left: 45px
	padding-bottom: 0px
	padding-right: 0px
	.author-list
		color: $author-color
		font-size: 16px 
		padding-left: 31px
	a:link
		color: $author-color
		font-size: 16px 
	a:visited
		color: $author-color
		font-size: 16px 
	a:hover
		color: $author-color
		font-size: 16px 
	a:active
		color: $author-color
		font-size: 16px 

#title-text
	color: $title-color
	padding-left: 30px
	margin-bottom: 0px
	font-size: 28px

#bibtex-button
	margin-right: 15px
	color: white
	background-color: $shade3
	border: 0px
	font-weight: bold

#form-id
	padding-left: 15px
	padding-right: 15px