@import variables

body
  background-color: $coup-gray

html *
  font-family: $default-font

.center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: auto

.searchButton
  background-color: $purple
  color: $button-text-color
  padding: 10px
  margin-top: 10px
  font-weight: bold
  width: 150px
  justify-content: right
  font-family: $default-font

.downloadButton
  background-color: $baby-blue
  color: black
  padding: 5px
  margin-top: 5px
  font-weight: bold
  width: 180px
  align-self: flex-end
  font-family: $default-font

.searchBox
  width: 150px

.serchInput
  display: flex
  flex-direction: row

#search-input-box
  width: 750px

#search-numitems-box
  width: 50px

.searchHistory
  align-self: flex-start
  padding: 5px
  margin-top: 5px
  font-weight: bold
  //width: 200px

#progress-bar
  padding: 15px
  width: 100%
  border: 10px