// ArticleList and Article Colors
$article-author-color: #FFD2A6
$article-title-color: #FFAFA3
$article-button-text: #white
$article-button-background: #C27DAA
$article-list-word: #FF85C4
$article-list-background: #917191

// Global Colors
$background: #2A363B