// Import font
@import url(https://fonts.googleapis.com/css?family=Lato)

// Color defs
$purple: #653CE0
$coup-gray: #2A363B
$baby-blue: #32ffff

// Global Colors
$background: $coup-gray
$button-color: $purple
$title-blue: #6EF1EA

// Global Font
$default-font: Lato

// ArticleList and Article Colors
$article-author-color: #FF85C4
$article-subtitle-color: #FFDD4A
$article-title-color: $title-blue
$article-button-text: #white
$article-button-background: $button-color
$article-list-word: #FF85C4
$article-list-background: $button-color
$article-modal-background: #333
$article-modal-header: $article-author-color
$article-modal-highlight: $article-subtitle-color

// Homepage
$button-text-color: white